a.svelte-ay64ok{color:var(--primary);text-decoration:none;position:relative;background-repeat:repeat-x;background-size:1px 2px;background-position:bottom;white-space:nowrap}a.svelte-ay64ok{background-image:linear-gradient(
      90deg,
      var(--secondary-text),
      var(--secondary-text)
    )}a.svelte-ay64ok:visited{text-decoration:none}a.success.svelte-ay64ok{background-image:linear-gradient(
      90deg,
      var(--success-text),
      var(--success-text)
    )}a.warning.svelte-ay64ok{background-image:linear-gradient(
      90deg,
      var(--warning-text),
      var(--warning-text)
    )}a.danger.svelte-ay64ok{background-image:linear-gradient(
      90deg,
      var(--danger-text),
      var(--danger-text)
    )}a.svelte-ay64ok:before{content:"";position:absolute;top:0.5em;bottom:0;left:4px;right:-4px;z-index:-1}a.svelte-ay64ok:before{background-color:var(--secondary-light)}a.success.svelte-ay64ok::before{background-color:var(--success-light)}a.warning.svelte-ay64ok::before{background-color:var(--warning-light)}a.danger.svelte-ay64ok::before{background-color:var(--danger-light)}.col-fill.svelte-1qtbsg2{overflow:hidden;text-overflow:ellipsis}